.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-container {
  transition: opacity 0.5s ease-in-out;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out;

}

@media (min-width: 1000px) {
  .container {
    width: 100%;
    flex-direction: row;
  }
}


input[type="text"] {
  width: 100%;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 14px;
  border: none;
  padding: 5px;
}

.geometric-background {
  background: linear-gradient(to left top, #5433FF,
      #20BDFF,
      #4dde8c);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  animation: animateGradient 50s ease infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
}

.search-input {
  border-radius: 20px;
  border: none;
  background-color: #f5f5f5 !important;
  padding: 10px !important;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: grey !important;
}

.mainText {
  font-size: 3.5rem;
  font-Family: "Montserrat";
}

@media (max-width: 900px) {

  h1 {
    font-size: 14px;
  }

  .search-input {
    width: 300px !important;
  }

  .mainText {
    font-size: 2rem;
  }
}